<div id="static">
	{{#each featured}}
        <div id="superior1" class="arriba fotos">
				<a class="bigg link" href="{{link_base}}.html?id={{ID}}">
					{{#if thumb_url}}
						<img src="{{thumb_url}}"/>
					{{else}} 
						<img src="images/placeholder.png"/>
					{{/if}}
					<div>
						{{#if designer_brand.profile_pic}}
							<img src="{{designer_brand.profile_pic}}" class="profile_pic round" />
						{{else}}
							<i class="material-icons account_circle big invert" ></i>
						{{/if}}
						<h1>{{product_title}}</h1>
						<span>{{designer_brand.name}}</span>
					</div>
					{{#if productos}}
						<div>
							<p>{{{product_description}}}</p>
							<h2>$ {{price}}</h2>
						</div>
					{{else}}
						<div><p>{{{product_description}}}</p></div>
					{{/if}}
				</a>
    {{/each}}

{{#each pool}}
	{{#if_module @index 4}}
		</div>
		<div {{#if_eq @index 0}}id="inferior1" class="abajo fotos"{{/if_eq}} {{#if_eq @index 4}}id="superior2" class="arriba fotos merged" style="display:none;"{{/if_eq}} {{#if_eq @index 8}}id="inferior2" class="abajo fotos"{{/if_eq}} {{#if_eq @index 12}}id="superior3" class="arriba fotos merged" style="display:none;"{{/if_eq}} {{#if_eq @index 16}}id="inferior3" class="abajo fotos"{{/if_eq}} class="abajo fotos">
			<a class="small link" href="{{link_base}}.html?id={{ID}}">
				{{#if thumb_url}}
					<img src="{{thumb_url}}">
				{{else}}
					<img src="images/placeholder.png">
				{{/if}}
				{{#if productos}}
					<div>
						{{#if designer_brand.profile_pic}}
							<img src="{{designer_brand.profile_pic}}" class="profile_pic round small" />
						{{else}}
							<i class="material-icons account_circle invert" ></i>
						{{/if}}
						<h1>{{product_title}}</h1>
						<span>{{designer_brand.name}}</span>
					</div>
					{{#if price}}
						<div><h2>$ {{price}}</h2></div>
					{{/if}}
				{{else}}
					<div><h1>{{product_title}}</h1></div>
				{{/if}}

		</a>
	{{else}}
		<a class="small link" href="{{link_base}}.html?id={{ID}}">
			{{#if thumb_url}}
				<img src="{{thumb_url}}">
			{{else}}
				<img src="images/placeholder.png">
			{{/if}}
			
			{{#if productos}}
				<div>
					{{#if designer_brand.profile_pic}}
						<img src="{{designer_brand.profile_pic}}" class="profile_pic round small" />
					{{else}}
						<i class="material-icons account_circle invert" ></i>
					{{/if}}
					<h1>{{product_title}}</h1>
					<span>{{designer_brand.name}}</span>
				</div>
				{{#if price}}
					<div><h2>$ {{price}}</h2></div>
				{{/if}}
			{{else}}
				<div><h1>{{product_title}}</h1></div>
			{{/if}}
		</a>
	{{/if_module}}
{{/each}}		
</div>
</div>
<div id="content-index" class="index">
	<div class="section" id="section1">{{#each featured}}<a class="replica grd" href="{{link_base}}.html?id={{ID}}"></a>{{/each}}{{#each pool}}<a class="replica sml" href="{{link_base}}.html?id={{ID}}"></a>{{#if_eq @index 3}}</div>
	<div class="section" id="section2">
		{{/if_eq}}{{#if_eq @index 11}}</div>
	<div class="section" id="section3">
		{{/if_eq}}{{/each}}
	</div>
</div>
