	<footer class="menu-bar">
		<a href="#" class="active">
			<img src="{{cordova_full_path}}images/menu/plan2.svg">
			<span>mi plan</span>
		</a>
		<a href="chat.html">
			<img src="{{cordova_full_path}}images/menu/chat.svg">
			<span>chat</span>
		</a>
		<a class="centro">
			<img src="{{cordova_full_path}}images/menu/mas.svg">
		</a>
		<a href="proximamente.html">
			<img src="{{cordova_full_path}}images/menu/progreso.svg">
			<span>progreso</span>
		</a>
		<a href="proximamente.html">
			<img src="{{cordova_full_path}}images/menu/shop.svg">
			<span>list</span>
		</a>
	</footer>