<div id="content" class="settings">
	{{> history_header}}
	<section>
		<table><tr><td>Choose from categories to follow</td></tr></table>
		<div id="dashboard1" class="dashboard_section">
		{{#if data.categories.count}}
			{{# each data.categories.pool}}
				<a class="{{#if followed}} choosed unfollow_category {{else}} follow_category {{/if}} cat-choose" data-id="{{ID}}" href="#">{{name}}</a>
			{{/each}}
		</div>
			{{!-- <br>
			<a id="primero" class="more"> <i class="material-icons refresh"></i> MORE </a> --}}
		{{else}}
			<p class="message">Sorry, no categories</p>
		</div>
		{{/if}}
		
		<table><tr><td>Choose from users to follow</td></tr></table>
		<div id="dashboard2" class="dashboard_section">
			{{#if data.makers.count}}
				{{# each data.makers.pool}}
					<a class="usuario {{#if followed}} following unfollow_user {{else}} follow_user {{/if}}" data-id="{{ID}}"><img src="{{#if profile_pic}}{{profile_pic}}{{else}}images/avatar.svg{{/if}}"></a>
				{{/each}}
		</div>
				{{!-- <br>
				<a id="segundo" class="more" style="margin-bottom:30px"><i class="material-icons refresh"></i> MORE</a> --}}
			{{else}}
				<p class="message">Sorry, no users</p>
		</div>
			{{/if}}
		
	</section>

</div>
{{#if logged_user}}
	{{> sidemenu_logged me}}
{{else}}
	{{> sidemenu}}
{{/if}}