<div id="content" class="detail">
			
	{{> history_header}}
    {{#if data.gallery.count}}
		<section>
			<div id="shower" class='swipe' style='width:100%'>
		    	<ul>
		    		{{#each data.gallery.pool}}
				    	<li class="pagina" style='display:block'>
							<img src="{{url}}" />
						</li>
		    		{{/each}}
				</ul>
			</div>
			<div id="overswipe">
				{{!-- <span> <i class="material-icons favorite_border invert" ></i> 0</span> --}}
				<span> <i class="material-icons file_download invert" ></i> {{data.download_count}}</span>
				<span> <i class="material-icons remove_red_eye invert" ></i> {{data.times_viewed}}</span></div>
			<a class="navegar" onclick="slider.prev();return false;" href="#"><i class="material-icons keyboard_arrow_left" ></i></a>
			<a class="navegar" onclick="slider.next();return false;" href="#"><i class="material-icons keyboard_arrow_right" ></i></a>
		</section>
    {{/if}}
	
	<section class="table">
		<div class="table_cell">
			<h1>{{data.product_title}}</h1><br>
			{{#if data.thumb_url}}
				<a href="maker.html?id={{data.designer_brand.ID}}" >
					<img src="{{data.designer_brand.profile_pic}}" class="profile_pic round"><p class="side_profile">{{data.designer_brand.name}}</p>
				</a>
			{{else}}
				<a href="maker.html?id={{data.designer_brand.ID}}" >
					<p><i class="material-icons account_circle" ></i> {{data.designer_brand.name}}</p>
				</a>
			{{/if}}
		</div>
		<div class="table_cell">
			<span>$ {{data.product_price}}</span>
			{{#if data.has_file}}
				<p><a href="file_map.html?ref_id={{data.ID}}" class="add_to_cart"><i class="material-icons file_download" ></i>Download</a></p>
			{{/if}}
			<p><a href="#" class="techBtn"><i class="material-icons info" ></i> Technical</a></p>
		</div>
		<br>
	</section>
	<section class="full_width">
		<p>{{{data.product_description}}}</p>
	</section>
	
	{{#if data.by_same_maker.count}}
		<section>
			<h2>By same maker</h2>
			{{#each data.by_same_maker.pool }}
				<a class="each_same_maker" href="detail.html?id={{ID}}"><img src="{{thumb_url}}" /></a>
			{{/each}}
		</section>
	{{/if }}
	<section id="technical">
		{{#if data.technical.info}}
			<h2><i class="material-icons info medium" ></i> Technical Info</h2>
			<p>{{{data.technical.info}}}</p>
		{{/if}}
		<h2><i class="material-icons print medium" ></i> Print Settings</h2>
		{{#if data.printer.type}}
			<p><b>Printer:</b> {{data.printer.type}}<br>
		{{/if}}
		{{#if data.printer.rafts}}
			<b>Supports rafts:</b> {{data.printer.rafts}}<br>
		{{/if}}
		{{#if data.printer.resolution}}
			<b>Resolution:</b> {{data.printer.resolution}}<br>
		{{/if}}
		{{#if data.printer.infill}}
			<b>Infill:</b> {{data.printer.infill}}<br></p>
		{{/if}}
		{{#if data.technical.notes}}
			<h2><i class="material-icons mode_edit medium" ></i> Notes</h2>
			<p>{{{data.technical.notes}}}</p>
		{{/if}}
	</section>
	{{#if data.tags.count}}
		<section class="tag_container">
			<h2><i class="material-icons label medium" ></i> Tags</h2>
			{{#each data.tags.pool}}
				<a href="tax-archive.html?id={{ID}}&type=category">{{name}}</a>
			{{/each}}
		</section>
	{{/if}}
	{{#if data.design_tools.count}}
		<section class="tag_container">
			<h2><i class="material-icons build medium" ></i> Design Tools</h2>
			{{#each data.design_tools.pool}}
				<a href="tax-archive.html?id={{ID}}&type=design-tools">{{name}}</a>
			{{/each}}
		</section>
	{{/if}}
	<section>
		<h2><i class="material-icons copyright medium" ></i> License</h2>
		<img src="images/license.png" />
	</section>
</div>
{{>footer}}
{{> dom_assets}}
{{#if logged_user}}
	{{> sidemenu_logged me}}
{{else}}
	{{> sidemenu}}
{{/if}}