	<header class="htrans">
		<div class="toolbar">
			<a class="back hook" data-resource="my-plan" href="dieta.html">
			<img src="{{cordova_full_path}}images/back.svg"></a>
		</div>
	</header>

	<div class="profile circle-frame">
		<img src=""/>
	</div>
	
	<h2 class="cpur"></h2>
	<div class="profile-menu">
		<a id="btn_perfil" class="hook" data-resource="user-profile" href="userdata.html">
			<img src="{{cordova_full_path}}images/profile/profile.svg">
			Perfil
		</a>
		<a class="hook" data-resource="transactions" href="finanzas.html">
			<img src="{{cordova_full_path}}images/profile/finances.svg">
			Transacciones
		</a>
		<a id="blog" href="http://www.gingerapp.mx/blogposts/">
			<img src="{{cordova_full_path}}images/profile/blog.svg">
			Blog
		</a>
		<a class="hook" data-resource="about" href="about.html">
			<img src="{{cordova_full_path}}images/profile/settings.svg">
			Acerca de
		</a>
		<a id="logout" href="#">
			<img src="{{cordova_full_path}}images/profile/logout.svg">
			Cerrar Sesión
		</a>
	</div>
</div>
<div class="overscreen2" style="display:none">
	<div class="ov-filler2"></div>
	<div class="dialog">
		<h5>Ginger</h5>
		<p>¿Estás seguro de querer<br>cerrar la sesión?</p>
		<div class="di-options">
			<a class="logout">Cerrar sesión</a>
			<a class="logout_cancel">Cancelar</a>
		</div>
	</div>
</div>
