<div id="content" class="maker">
	{{>history_header}}
	<section class="maker_content">
		<section class="thumb_container">
			{{# if data.same_maker.count}}
				{{# each data.same_maker.pool}}
					<a class="thumbs" href="detail.html?id={{ID}}"><img src="{{thumb_url}}" /></a>
				{{/each}}
			{{/if}}
		</section>
		{{#if data.profile.profile_pic}}
			<img src="{{data.profile.profile_pic}}" class="profile_pic round" />
		{{else}}
			<i class="material-icons account_circle big" ></i>
		{{/if}}
		<section class="profile_info">
			<p class="user_name">{{data.profile.user_display}}</p>
			<p class="rating_container">
				<i class="material-icons star mini on"></i>
				<i class="material-icons star mini on"></i>
				<i class="material-icons star mini on"></i>
			</p>
			{{#if data.profile.address}}
				{{data.profile.address}}
			{{/if}}
			{{#if data.profile.bio}}
				<section class="bio">
				{{{data.profile.bio}}}
				</section>
			{{/if}}
			<div class="clearfix"></div>
			{{# if data.profile.categories.count}}
				{{# each data.profile.categories.pool}}
					<a href="#">{{name}}</a>
				{{/ each}}
			{{/if}}
		</section>
	</section>
	{{> footer}}
</div>
{{> dom_assets}}
{{#if logged_user}}
	{{> sidemenu_logged me}}
{{else}}
	{{> sidemenu}}
{{/if}}