
	<div id="container" class="tracks">
		<header class="hwhite2">
			<div class="toolbar">
				<a class="back hook" data-resource="my-plan" href="dieta.html"><img src="{{cordova_full_path}}images/back.svg"></a>
				<h2 class="titulo">{{header_title}}</h2>
				<a class="menu hook" href="menu.html" data-resource="main-menu"><img src="{{cordova_full_path}}images/menu.svg"></a>
			</div>
		</header>
		<h2 class="mainline">¿Cuánta agua has bebido?</h2>
		<div class="agua">
			<div class="vaso">
				<img src="{{cordova_full_path}}images/agua.svg">
				<p><span>{{water_val}}</span><br>litros</p>
			<input id="#litros" name="litros" value="{{water_val}}" type="hidden">
			</div>
			<div class="arrows-vertical">
				<img id="agua-up" src="{{cordova_full_path}}images/leftarrow.png"><br><br>
				<img id="agua-dw" src="{{cordova_full_path}}images/rightarrow.png">
			</div>
		</div>
		<a id="add_agua" class="btn-gre" href="#">Agregar</a>
	</div>
	
	{{> footer_menu}}

	{{> footer_activities}}

	<div class="alert_tracking" style="display:none">
		<div class="ov-filler2"></div>
		<div class="dialog">
			<h5>Agua</h5>
			<p>¿Deseas guardar los datos?</p>
			<div class="di-options">
				<a id="add_tracking" class="accept">Aceptar</a>
				<a class="cancel">Cancelar</a>
			</div>
		</div>
	</div>
