<div id="content" class="search">
	{{> search_header}}

	{{> subheader data}}
	<div id="no-cat" class="pages">
		<section>
		{{#if logged_user}}
    		<!-- <p>Previous Searches</p>
    		{{#each data.previous.pool}}
			<a href="detail.html?id={{ID}}">
				<img src="{{thumb_url}}">
				<div>
					{{#if designer_brand.profile_pic}}
						<img src="{{designer_brand.profile_pic}}" alt="{{designer_brand.name}}" class="round profile_pic">
					{{else}}
						<i class="material-icons">account_circle</i>
					{{/if}}
					<h1>{{product_title}}</h1>
					<span>{{designer_brand.name}}</span>
				</div>
			</a>
			{{/each}} -->
    	{{else}}
    		<p>Previous Searches</p>
    		<p class="message"><a class="inline_link" id="account1">Log in</a> to see your previous search results here.</p>
    	{{/if}}
    	{{#if data.featured.count}}
			<p>Featured Products</p>
    		{{#each data.featured.pool}}
				<a href="detail.html?id={{ID}}" class="small link">
					<img src="{{thumb_url}}">
					<div>
						{{#if designer_brand.profile_pic}}
							<img src="{{designer_brand.profile_pic}}" alt="{{designer_brand.name}}" class="round profile_pic">
						{{else}}
							<i class="material-icons account_circle invert" ></i>
						{{/if}}
						<h1>{{product_title}}</h1>
						<span>{{designer_brand.name}}</span>
					</div>
				</a>
			{{/each}}
    	{{/if}}
    	</section>
	</div>
	<div id="con-cat" class="pages inject">
		
    </div>
    
</div>
{{> footer}}
{{> dom_assets}}
{{> sidemenu}}