	<header class="hwhite2">
		<div class="toolbar">
			<a class="back hook" data-resource="my-plan" href="userdata.html">
				<a class="back hook" data-resource="my-plan" href="dieta.html">
					<img src="{{cordova_full_path}}images/back.svg">
				</a>
				<h2 class="titulo">{{header_title}}</h2>
			</a>
		</div>
	</header>
	
	<div class="profile circle-frame">
		<img src="{{data.profile_pic_url}}">
	</div>
	<h2 class="cpur">{{me.nombre}} {{me.apellido}}</h2>
	<div class="profile-data">
		<a class="edit-profile hook" data-resource="edit-profile" href="edituser.html">
			<img class="edit_icon" src="{{cordova_full_path}}images/profile/pencil.svg">
			Editar perfil
		</a>
		<ul>
			<li>
				<span>
					Objetivo:					
					<strong id="plan_perfil">{{data.objective}}</strong>
				</span>
			</li>
			<li>
				<span>
					Sexo: 					
					<strong id="sexo_perfil">{{data.sexo}}</strong>
				</span>
			</li>
			<li>
				<span>
					Edad: 					
					<strong id="anos_perfil">{{me.perfil.edad.real}} años</strong>
				</span>
			</li>
			<li>
				<span>
					Código Postal: 			
					<strong id="cp_perfil">{{data.cp}}</strong>
				</span>
			</li>
			<li>
				<span>
					Estatura: 				
					<strong id="estatura_perfil">{{me.perfil.estatura}} m</strong>
				</span>
			</li>
			<li>
				<span>
					Peso: 					
					<strong id="peso_perfil">{{me.perfil.peso}} kg</strong>
				</span>
			</li>
			<li>
				<span>
					Peso Ideal: 				
					<strong id="ideal_perfil">{{me.pesoDeseado}} kg</strong>
				</span>
			</li>
			<li>
				<span>
					Tipo de Coach: 			
					<strong id="coach_type_perfil">{{data.coach_type}}</strong>
				</span>
			</li>
			<li>
				<span>
					Frecuencia de Ejercicio: 	
					<strong id="frecuencia_perfil">{{data.exercise_freq}} días por semana</strong>
				</span>
			</li>
			<li>
				<span>
					Restricciones Alimenticias: 
					<strong id="restricciones_perfil">{{data.restricciones_concat}}</strong>
				</span>
			</li>
			<li class="comentario">
				<span id="comentario_perfil">
					Otros comentarios:	<i>{{me.comentarios}}</i>
				</span>
			</li>
		</ul>
		<div class="profile-bottom">
			<ul>
				<li>
					<span>
						Coach: <strong id="coach_name">{{data.coach_name}} {{data.coach_last}}</strong>
					</span>
					<div class="rate-stars">
						{{# data.coach_rating.stars.active}}
							<img src="{{../cordova_full_path}}images/starh.svg">
						{{/ data.coach_rating.stars.active}}
						{{# data.coach_rating.stars.inactive}}
							<img src="{{../cordova_full_path}}images/star.svg">
						{{/ data.coach_rating.stars.inactive}}
					</div>
				</li>
				<li>
					<a id="change_coach" class="btn-org save-data {{^ data.changed_status}}hook{{/ data.changed_status}} " {{^ data.changed_status}} data-resource="change-coach" {{/ data.changed_status}} href="{{^ data.changed_status}} cambiocoach.html {{/ data.changed_status}}">{{data.change_btn_copy}}</a>	
				</li>
			</ul>
		</div>
	</div>
